QWidget {
    background-color: #F2F1F0;
    }

QWidget > QPushButton
{
    background-color: #ed1c24;
     border-style: outset;
     border-width: 2px;
     border-color:#b51218;
        color:#f8f8f8;
}

QPushButton:hover
{
    background-color: #de1219;
    border-color:#ed1d24;
}
QLineEdit {
    background-color:white;
    color: #646464;
}
#Banner {
        background-color:#c2050b;
        border-color:#525662;
}
ClickableLabel, #lblMergedImage {
    background-color:white;
}
#LogoFrame {
        background-image: url(://logo);
        border: 0px;
        repeat: no-repeat;
}
#Banner > #HeaderLabel{
    background-color:#c2050b;
    color:#f9ffff;;
}

#spinBox{
    background-color:white;
}
QLabel {
    color:#646464;
}
